<%- include("../includes/header.ejs", {title:"Add New Account"}); %>
<h1>Add New Account</h1>
<form action="/account/insert" method="get">
    Company Name: <input id="account_name" name="account_name" type="text" />
    <br />
    <br />
    Account
    <br />
    <select id="account_id" name="account_id" multiple="multiple">
        <% for(var i=0; account.length > i; i++ ) { %>
        <option value="<%= account[i].account_id %>"></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#account_id').multiselect();
        });
    </script>


    <br />
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>