<%- include("../includes/header.ejs", {title: "Update " + account.account_name}); %>

<h1>Update <%= account.account_name%></h1>
<form action="/account/update" method="get">
    <input type="hidden" id="account_id" name="account_id" value="<%= account.account_id %>">
    Account Name: <input id="account_name" name="account_name" type="text" value="<%= account.account_name%>"/>
    <br />
    <br />
    Address <br />
    <select id="account_id" name="account_id" multiple="multiple">
        <% for(var i=0; account.length > i; i++ ) {
            var selected = "";

            if (account[i].account_id !== null) selected = "selected";
        %>
        <option value="<%= account[i].account_id %>" <%= selected %></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#account_id').multiselect();
        });
    </script>

    <br />

    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>

</html>