<%- include("../includes/header.ejs", {title:"Add New Skill"}); %>
<h1>Add New Skill</h1>
<form action="/skill/insert" method="get">
    Skill: <input id="skill_id" name="skill_name" type="text" />
    <br />
    <br />
    Skill
    <br />
    <select id="skill_id" name="skill_name" multiple="multiple">
        <% for(var i=0; skill.length > i; i++ ) { %>
        <option value="<%= skill[i].skill_id %>"></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#account_id').multiselect();
        });
    </script>


    <br />
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>